<p>update-form works!</p>
<h1 mat-dialog-title>Delete file</h1>
<div mat-dialog-content>
  Would you like to delete cat.jpeg?
</div>
<!-- <div mat-dialog-actions>
  <button mat-button mat-dialog-close>No</button>
  <button mat-button mat-dialog-close cdkFocusInitial>Ok</button>
</div> -->

<!-- form -->

<div class="form" >
  <form [formGroup]="user" (ngSubmit)="submit()">
    <div class="top">
        <div>
            <mat-form-field appearance="outline">
                <mat-label>name</mat-label>
                <input matInput placeholder="Placeholder" formControlName="name">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>surname</mat-label>
                <input matInput placeholder="Placeholder" formControlName="surname">
            </mat-form-field>
        </div>
    </div>
    <div class="bottom">
        <div>
            <mat-form-field appearance="outline">
                <mat-label>age</mat-label>
                <input matInput placeholder="Placeholder" formControlName="age">
            </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>email</mat-label>
            <input matInput placeholder="Placeholder" formControlName="email">
        </mat-form-field>
        </div>
    </div>
    <div>
        <mat-form-field class="example-full-width">
            <mat-label>Date of Birth</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="DOB">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #picker></mat-datepicker>
          </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Phone number</mat-label>
        <input matInput placeholder="Placeholder" formControlName="phone_number">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>city</mat-label>
        <input matInput placeholder="Placeholder" formControlName="city">
    </mat-form-field>
      </div>
    <div mat-dialog-actions>
        <!-- <button  mat-raised-button color="primary" type="submit"  *ngIf="submitBtn">submit</button> -->
        <button mat-button color="accent" type="submit"mat-button mat-dialog-close cdkFocusInitial>update</button>
    </div>
  
  </form>
  </div>
  